<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Hello, Welcome to Learning. Choose your path</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron
            and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Login as Student</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                            content is a little bit longer.</p>
                        <a routerLink="/student/login" class="btn btn-primary stretched-link">Go</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Login as Teacher</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This
                            content is a little bit longer.</p>
                        <a routerLink="/teacher/login" class="btn btn-primary stretched-link">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>