<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Congratulation !!!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron
            and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
    </div>
</div>

<div class="container">
    <div class="" row>
        <div class="alert alert-success" role="alert">
            <p>! You have succeffully completed the course.</p>
            <p>! Your score: Grade A</p>
        </div>

        <div class="alert alert-warning" role="alert">
            <p>! You have succeffully completed the course.</p>
            <p>! Your score: Grade B</p>
        </div>

        <div class="alert alert-danger" role="alert">
            <p>! You have succeffully completed the course.</p>
            <p>! Your score: Grade C</p>
        </div>

        <br/>
        <a class="btn btn-primary" role="button" routerLink="/student/viewdashboard">View Dashboard</a>
        <br/>
        <br/>
        <a class="btn btn-secondary" role="button" routerLink="/student/selectcourse">Take another course</a>
    </div>
</div>